/** Global **/

@tailwind utilities;

@layer utilities {
    ::-webkit-scrollbar {
        width: 0.1rem;
    }

    ::-webkit-scrollbar-track {
        background: #f7f5fa;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #5a409b; /* Scrollbar color */
        border-radius: 0.3125rem;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #f7f5fa; /* Scrollbar color on hover */
    }

    html,
    * {
        scrollbar-width: thin; /* Makes scrollbar thinner */
        scrollbar-color: #5a409b #f7f5fa; /* Thumb and track color */
    }

    .dt-layout-row:not(.dt-layout-table) {
        display: none !important;
    }

    .fill-opacity-1 {
        fill-opacity: 1;
    }

    .fill-opacity-half {
        fill-opacity: 0.5;
    }

    html[dir="rtl"] main#content,
    html[dir="rtl"] aside#aside {
        direction: ltr;
    }

    html[dir="ltr"] main#content,
    html[dir="ltr"] aside#aside {
        direction: rtl;
    }

    html[dir="rtl"] main#content > .container,
    html[dir="rtl"] aside#aside > .container {
        direction: rtl;
    }

    html[dir="ltr"]
        main#content
        > .container
        html[dir="ltr"]
        aside#aside
        > .container {
        direction: ltr;
    }
}

* {
    @apply ltr:font-roboto rtl:font-tajawal;
}

.dropdown {
    @apply relative flex justify-center items-center;
}

.dropdown .dropdown-item {
    @apply hidden md:flex invisible absolute top-full translate-y-3 -z-10 duration-150 ease-linear;
}

.dropdown .dropdown-item.dropdown-active {
    @apply visible translate-y-[0.6rem] z-20;
}

.logo {
    @apply h-12 object-contain cursor-pointer;
}

.indicator {
    @apply absolute z-10 bottom-0 left-0;
}

.indicators {
    @apply absolute flex justify-center items-center gap-3 bottom-4 end-4;
}

.indicators .indicators-item {
    @apply w-[1.88rem] h-[1.88rem] bg-primary flex justify-center items-center rounded-full duration-150 ease-linear cursor-pointer;
}

.indicators .indicators-item:hover {
    @apply bg-[#DED9EB];
}

.indicators .indicators-item:hover svg {
    @apply fill-black;
}

.input-with-icon {
    @apply w-full relative flex justify-center items-center;
}

.input-with-icon input {
    @apply w-full rounded;
}

.input-with-icon i {
    @apply absolute left-2;
}

.breadcrumb {
    @apply w-full flex justify-between items-center mb-[1.69rem] gap-2;
}

.breadcrumb-btn {
    @apply w-[3.5rem] min-w-[3.5rem] h-[3.5rem] flex justify-center items-center py-4 rounded-lg bg-primary hover:bg-secondary duration-150 ease-linear;
}

.breadcrumb-btn:hover svg path {
    @apply duration-150 ease-linear fill-white;
}

.breadcrumb-nav {
    @apply flex justify-between;
}

.breadcrumb-nav .breadcrumb-list {
    @apply w-3/5 sm:w-full inline-flex justify-start sm:justify-center items-center flex-wrap sm:flex-nowrap mb-3 sm:mb-0;
}

.breadcrumb-nav .breadcrumb-list .breadcrumb-item {
    @apply flex items-center;
}

.breadcrumb-nav .breadcrumb-list .breadcrumb-item .breadcrumb-list-btn {
    @apply inline-flex items-center py-2 text-xs sm:text-sm font-normal text-center text-nowrap text-gray-900 hover:text-primary bg-white rounded-lg;
}

.breadcrumb-nav .breadcrumb-list .breadcrumb-item .breadcrumb-list-btn.active {
    @apply text-primary;
}

.checkBox-label-toggle {
    @apply inline-flex items-center cursor-pointer;
}

.checkBox-toggle {
    @apply relative w-11 h-6 bg-gray-200 rounded-full after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all;
}

.checkBox-toggle.active {
    @apply bg-primary;
}

#content {
    @apply min-h-[100vh] bg-white lg:mr-64 ltr:mr-0 ltr:lg:ml-64 pt-20 lg:pt-0 max-h-[100vh] overflow-y-scroll overflow-x-hidden;
}

#content.minimized {
    @apply lg:mr-[5.75rem] ltr:mr-0 ltr:lg:ml-[5.75rem];
}

.container {
    @apply mx-auto px-6;
}

.content-section {
    @apply mt-[2.56rem] w-full py-7 px-5 bg-section backdrop-blur-[10.499999046325684px] shadow-section rounded-[0.9375rem] border-[1.5px] border-solid border-white;
}

.modal {
    @apply hidden fixed top-0 left-0 rtl:left-auto rtl:right-0 w-full h-[100vh] bg-[#22222260] z-50;
}

.modal.show {
    @apply block;
}

.modal-container {
    @apply flex justify-center items-center w-full h-full lg:pr-64 ltr:lg:pr-0 ltr:lg:pl-64;
}

.modal-container .modal-content {
    @apply relative w-full h-full pb-[4.12rem] sm:w-3/4 sm:h-auto 2xl:w-[59rem] px-6 bg-white sm:rounded-[1.25rem] flex justify-start items-center flex-col;
}

.modal-container .modal-content .modal-title {
    @apply pt-[5.06rem] pb-8 sm:pt-16 xl:pt-[5.06rem] xl:pb-[3.62rem];
}

.modal-container .modal-content .modal-title h1 {
    @apply text-[#344054] text-2xl font-bold text-center leading-6;
}

.modal-container .modal-content .modal-body form {
    @apply 2xl:w-[38.8125rem] 2xl:h-[23.5625rem] flex flex-col items-start justify-start gap-5;
}

.modal-container .modal-content .modal-body form .modal-lang {
    @apply flex justify-start items-center gap-5;
}

.modal-container .modal-content .modal-body form .modal-lang div {
    @apply cursor-pointer w-auto h-auto flex justify-start items-center gap-2 px-[0.625rem] py-2 rounded duration-150 ease-linear;
}

.modal-container .modal-content .modal-body form .modal-lang div:hover,
.modal-container .modal-content .modal-body form .modal-lang div.active {
    @apply bg-[#EAECF0];
}

.modal-container .modal-content .modal-body form .modal-lang li span {
    @apply text-[#344054] text-[0.875rem] font-medium leading-5 text-right ltr:text-left;
}

.modal-container .modal-content .modal-body form .input-group,
.modal-container .modal-content .modal-body form .select-group {
    @apply w-full flex justify-start items-start gap-[0.625rem] flex-col;
}

.modal-container .modal-content .modal-body form label {
    @apply text-[#344054] text-base font-medium leading-5;
}

.modal-container .modal-content .modal-body form .input-group input,
.modal-container .modal-content .modal-body form .select-group select {
    @apply w-full py-[0.4375rem] px-[0.4375rem] rounded-lg shadow-md border-none;
}

.modal-container
    .modal-content
    .modal-body
    form
    .input-group
    input[type="file"] {
    @apply invisible absolute -z-10;
}

.modal-container .modal-content .modal-body form .input-group span {
    @apply text-[#22222299] text-base font-normal text-right ltr:text-left;
}

.modal-container .modal-content .modal-body form .input-group .input-file {
    @apply w-full py-[0.9375rem] flex justify-center items-center rounded-lg border-2 border-dashed;
}

.modal-container
    .modal-content
    .modal-body
    form
    .input-group
    .input-file
    button {
    @apply text-primary text-base font-medium leading-[1.125rem];
}

.modal-container .modal-content .modal-body form button[type="submit"] {
    @apply w-[18.3125rem] self-center p-3 bg-secondary rounded-lg text-white text-[1.125rem] leading-5 font-bold duration-150 ease-linear mt-4 lg:mt-2 2xl:mt-[3rem];
}

.modal-container .modal-content .modal-body form button[type="submit"]:hover {
    @apply bg-primary;
}

.modal-container .modal-content .close {
    @apply cursor-pointer absolute top-8 left-8 ltr:left-auto ltr:right-8 sm:left-12 ltr:sm:left-auto ltr:sm:right-12;
}

.tooltip-group {
    @apply relative;
}

.tooltip-group .tooltip-item {
    @apply absolute left-1/2 -translate-x-1/2 z-20 top-full mb-2 hidden px-3 py-1 text-sm text-white text-nowrap bg-gray-800 rounded shadow-lg;
}

.tooltip-group:hover .tooltip-item {
    @apply block;
}

.tooltip-group .tooltip-item .tooltip-arrows {
    @apply absolute bottom-full left-1/2 -translate-x-1/2 z-20 translate-y-1/2 w-3 h-3 bg-gray-800 rotate-45;
}

/** Global End **/
